extends layout 

block content 
  h1 #{title}: #{book_instance._id}
  p Title: #{book_instance.book.title}
  p Status: #{book_instance.status}
  p Due back: #{book_instance.due_back_formatted}

  p Do you really want to delete this Book Instance?

  form(action="", method="post") 
    .form-group
      input#bookinstanceid.form-control(type="hidden", name="bookinstanceid", required='true' value=book_instance._id)

    button.btn.btn-primary(type="submit") Delete 